*{
	margin: 0; 
	padding: 0;
	border: 0; 
}

#container{
	margin: auto;
	padding-left: 20px; 
	padding-top: 20px; 
	padding-right: 20px; 
	padding-bottom: 20px; 
}

#work{
	padding-top: 30px; 
	padding-bottom: 30px;
}