*{
	margin: 0; 
	padding: 0;
	border: 0; 
}

#container{
	margin: auto;
	padding-left: 20px; 
	padding-top: 20px; 
	padding-right: 35px; 
	padding-bottom: 20px; 
}

#work{
	padding-top: 30px; 
	padding-bottom: 30px;
}

#work, h2{
	font-size: 2em; 
}

#work, ul, h3{
	padding-top: 20px;
	font-size: 1em; 
}

#work, ul, li{
	padding-left: 60px; 
}

#education{
	padding-top: 30px; 
	padding-bottom: 30px;
}

#education, h2{
	font-size: 2em; 
}

#education, ul, h3{
	padding-top: 20px;
	font-size: 1em;
}

#education, ul, li{
	padding-left: 60px; 
}

article{
	text-align: center; 
}

#contact{
	padding-top: 30px; 
	padding-bottom: 30px;
}

#contact, h3 {
	padding-top: 20px;
	font-size: 1em;
}

#contact, p{
	padding-left: 60px; 
}

#skills{
	padding-top: 30px; 
	padding-bottom: 30px;
}

#skills, h3{
	padding-top: 20px;
	font-size: 1em;
}

#skills2{
	font-size: 1em; 
}

#skills3{
	font-size: 1em; 
}

aside{
	padding-top: 60px; 
	padding-bottom: 20px; 
}

aside, p {
	padding-bottom: 20px; 
}