*{
	margin: 0;
	padding: 0;
	border: 0;
}

article{
	text-align: center;
	margin-bottom: 60px; 
	font-size: 60px; 
}

#container{
	margin: auto;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 35px;
	padding-bottom: 20px;
}

h2{
	color: #00008B;
	font-size: 20px; 
}

#work{
	padding-top: 30px;
	padding-bottom: 30px;
}

#work, ul, h3{
	padding-top: 20px;
	font-size: 1em;
}

#work, ul, li{
	padding-left: 60px;
}

#education{
	padding-top: 30px;
	padding-bottom: 30px;
}

#education, ul, h3{
	padding-top: 20px;
	font-size: 1em;
}

#education, ul, li{
	padding-left: 60px;
}

#contact{
	padding-top: 30px;
	padding-bottom: 30px;
}

#contact, p{
	padding-left: 60px;
}

#skills{
	padding-top: 30px;
	padding-bottom: 30px;
}

#skills_head {
	padding-left: 50px; 
}

#skills2{
	font-size: 1em;
}

#skills3{
	font-size: 1em;
}

aside, p {
	padding-bottom: 20px;
}